body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #363f3a; /* Dark green background */
    color: #fef1d7; /* Beige text color */
}

header {
    background-color: #333; /* Dark background for header */
    color: #fef1d7; /* Beige text color */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px; /* Logo height */
    margin-left: 20px; /* Left margin */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px; /* Spacing between nav items */
}

nav ul li a {
    color: #fef1d7; /* Beige text color */
    text-decoration: none;
}

.hero {
    background-color: #363f3a; /* Dark green background */
    color: #fef1d7; /* Beige text color */
    text-align: center;
    padding: 50px 20px;
}

.cta-button {
    background-color: #fef1d7; /* Beige background for button */
    color: #363f3a; /* Dark green text for button */
    padding: 10px 20px;
}

.services, .portfolio, .contact {
    padding: 50px 20px;
    text-align: center;
}

.service-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service {
    margin: 10px; /* Margin around services */
    flex-basis: 22%; /* Each service takes up 22% of the row */
}

.service img {
    max-width: 100%; /* Responsive image */
    height: auto; /* Auto height */
}

.portfolio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 10px; /* Margin around projects */
    flex-basis: 30%; /* Each project takes up 30% of the row */
}

video {
    width: 100%; /* Make video responsive */
    height: auto; /* Maintain aspect ratio */
}

.contact {
    background-color: #363f3a; /* Dark green background for contact */
    color: #fef1d7; /* Beige text color */
}

footer {
    background-color: #333; /* Dark background for footer */
    color: #fef1d7; /* Beige text color */
    text-align: center;
    padding: 10px 0;
}
